# ==========================================
# ENV VARIABLES & SENSITIVE DATA
# ==========================================
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.pem
*.key
*.secret
*.passwd
credentials.json


# ==========================================
# PYTHON
# ==========================================
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
ENV/
.scrapy
.pytest_cache/
.tox/
.coverage
htmlcov/
data/faiss_index/

